@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"),
       url("../fonts/opensanslight.woff2") format("woff2"),
       url("../fonts/opensanslight.woff") format("woff");
 }

 @font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"),
       url("../fonts/opensans.woff2") format("woff2"),
       url("../fonts/opensans.woff") format("woff");
 }

 @font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: local("Gilroy Light"),
       url("../fonts/gilroylight.woff2") format("woff2"),
       url("../fonts/gilroylight.woff") format("woff");
 }

 @font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: local("Gilroy ExtraBold"),
       url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
 }

 html {
  box-sizing: border-box;
 }

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #464646;
  text-transform: none;
  letter-spacing: 0.15px;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.button {
  display: inline-block;
  padding: 0;

  text-align: center;
  vertical-align: middle;
  font-weight: 800;
  font-size: 18px;
  line-height: 8px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.6px;

  background-color: #f0c52e;
  border: none;

  transition: padding 0.2s ease-in-out, margin 0.2s ease-in-out;
  box-sizing: content-box;
}

.button:hover {
  padding: 16px 0;
  margin: -16px 0;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.container {
  width: 1160px;
  margin: 0 auto;
}

/*HEADER*/

.header-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 15px 60px 60px;

  background-image: linear-gradient(to bottom, #fff 40px, #f7e296 40px, #f7e296);
}

.header-wrapper-catalog {
  padding: 15px 60px 50px;
}

.main-header-logo {
  display: block;
  width: 100%;
  margin-bottom: 10px;

  font-weight: 800;
  font-size: 48px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.main-header-logo[href]:hover {
  opacity: 0.6;
}

.main-header-logo[href]:active {
  opacity: 0.3;
}

.header-user-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.header-user-block-item {
  min-width: 90px;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.15px;
}

.header-user-block-item-login {
  margin-right: 197px;
}

.header-user-block-item-log-out {
  margin-right: 39px;
}

.header-user-block-item-cart {
  margin-left: 33px;

  text-align: right;
}

.header-user-block-item svg {
  position: absolute;
  top: 50%;
  left: 0;

  transform: translateY(-50%);
}

.header-user-block-item a {
  position: relative;

  display: inline-block;
  padding: 0 0 0 20px;

  vertical-align: middle;
  color: #000000;
}

.header-user-block-item-login a {
  padding-left: 25px;
}

.header-user-block-item-logged a {
  padding-left: 26px;
}

.header-user-block-item a:hover {
  opacity: 0.6;
}

.header-user-block-item a:active {
  opacity: 0.3;
}

.header-user-block-item .log-out {
  margin-left: 20px;
  padding: 0;

  opacity: 0.3;
}

.search-form {
  font-size: 0;
}

.search-form-input-wrapper {
  position: relative;

  min-width: 450px;
  margin-right: 90px;
}

.search-form-input-wrapper svg {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}

.search-form-input {
  height: 50px;
  width: 360px;
  padding: 0 0 0 40px;

  font-size: 15px;
  line-height: 50px;
  vertical-align: top;

  background-color: #f7e296;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
}

.search-form-input:focus {
  border-bottom-color: #000000;
}

.search-form-input::placeholder {
  color: #000000;

  opacity: 0.3;
}

.search-form-input:hover::placeholder {
  opacity: 0.6;
}

.search-form-input:focus::placeholder {
  opacity: 1;
}

.search-form-button {
  display: none;
  height: 50px;
  padding: 0 20px;

  font-size: 15px;
  line-height: 1;
  vertical-align: middle;

  background-color: transparent;
  border: 2px solid #000000;
}

.search-form-input:focus ~ .search-form-button,
.search-form-button:hover,
.search-form-button:active {
  display: inline-block;
}

.search-form-button:hover {
  color: #ffffff;

  background-color: #000000;
}

.search-form-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #000000;
}

.main-navigation-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 30px 0 0;

  list-style: none;
}

.main-navigation-list a {
  color: #000000;
}

.main-navigation-list a:hover {
  opacity: 0.6;
}

.main-navigation-list a:active {
  opacity: 0.3;
}

.main-navigation-list-item {
  position: relative;

  min-width: 140px;
  margin: 0 20px 0 0;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.main-navigation-list-item a {
  display: inline-block;
  height: 100%;

  vertical-align: baseline;
}

.main-navigation-list-item:first-child a:hover ~ .main-navigation-sub-list-wrapper,
.main-navigation-sub-list-wrapper:hover {
  display: block;
}

.main-navigation-list-item:nth-child(4n + 1) {
  min-width: 540px;
  margin: 0;
}

.main-navigation-list-item:nth-child(4n) {
  margin: 0 0 0 40px;

  text-align: right;
}

.main-navigation-list-item svg {
  margin: 0 0 0 5px;

  vertical-align: baseline;

  opacity: 0.3;
}

.main-navigation-sub-list-wrapper {
  position: absolute;
  left: -60px;
  z-index: 3;

  display: none;
  width: 1160px;
  padding: 20px 0 0;

  background-color: #f7e296;
}

.main-navigation-sub-list {
  position: relative;
  top: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 1160px;
  height: 145px;
  padding: 0 0 0 60px;
  margin: 0;

  list-style: none;
}

.main-navigation-sub-list-item {
  flex-basis: 45px;
  margin: 0 65px 0 0;

  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;
  text-transform: none;
  letter-spacing: 0.15px;
}

.main-navigation-sub-list-item a:hover {
  opacity: 0.6;
}

.main-navigation-sub-list-item a:active {
  opacity: 0.3;
}

.main-navigation-sub-list-item-tall {
  flex-basis: 65px;
}

.main-navigation-sub-list-item:last-child {
  width: 100%;
}

/*FOOTER*/

.main-footer {
  padding: 60px 0;

  background-color: #464646;
}

.main-footer-inner {
  display: flex;
}

.main-footer-left {
  position: relative;

  width: 370px;
}

.main-footer-left::after{
  content: "";
  position: absolute;
  bottom: 25px;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.main-footer-center {
  width: 425px;
  padding: 75px 0 0;
}

.main-footer-right {
  width: 365px;
  padding: 0 0 0 40px;
}

.main-footer-logo {
  display: inline-block;
  margin-bottom: 22px;

  font-weight: 800;
  font-size: 48px;
  line-height: 1;
  font-family: "Gilroy", "Arial", sans-serif;

  color: #ffc600;
  text-transform: uppercase;
}

.main-footer-logo:hover {
  opacity: 0.6;
}

.main-footer-logo:active {
  opacity: 0.3;
}

.main-footer-logo-index:hover,
.main-footer-logo-index:active {
  opacity: 1;
}

.main-footer-left address {
  font-style: normal;
  color: #ffffff;
  letter-spacing: normal;
}

.footer-main-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0 0 65px;
  padding: 0;
}

.footer-main-navigation-item {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.footer-main-navigation-item a{
  color: #ffffff;
}

.footer-main-navigation-item a:hover {
  opacity: 0.6;
}

.footer-main-navigation-item a:active {
  opacity: 0.3;
}

.social {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 145px;
  padding: 0;
  margin: 0 auto;

  list-style: none;
}

.social li {
  flex-shrink: 0;
}

.social .social-button {
  font-size: 0;

  opacity: 0.3;
}

.social .social-button:hover {
  opacity: 0.6;
}

.social .social-button:active {
  opacity: 0.1;
}

.footer-user-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 0 35px;

  list-style: none;
}

.footer-user-navigation-logged {
  justify-content: flex-end;
  margin-left: -470px;
}

.footer-user-navigation-item {
  line-height: 36px;
  color: #ffffff;

  opacity: 0.7;
}

.footer-user-navigation-logged .footer-user-navigation-item {
  margin-left: 43px;
}

.footer-user-navigation-logged .footer-user-navigation-item-logged {
  margin-left: 0;
}

.footer-user-navigation-logged .footer-user-navigation-item-cart {
  margin-left: 32px;
}

.footer-user-navigation-item a,
.footer-user-navigation-item a span {
  color: #ffffff;
}

.footer-user-navigation-item a {
  display: flex;
  align-items: center;
}

.footer-user-navigation-item a span {
  opacity: 0.7;
}

.footer-user-navigation-item a:hover span {
  opacity: 1;
}

.footer-user-navigation-item a:active span {
  opacity: 0.3;
}

.footer-user-navigation-item a svg {
  margin-right: 10px;

  fill: #ffc600;
}

.footer-user-navigation-item a:hover svg {
  opacity: 0.6;
}

.footer-user-navigation-item a:active svg {
  opacity: 0.3;
}

.footer-user-navigation-item .footer-log-out {
  padding: 0;
  margin-left: 20px;

  opacity: 0.3;
}

.footer-phone-container {
  margin: 0 0 60px;

  text-align: right;
}

.footer-phone {
  color: #ffffff;
}

.logo-academy-container {
  text-align: right;
}

.logo-academy:hover {
  opacity: 0.6;
}

.logo-academy:active {
  opacity: 0.3;
}

/*INDEX*/

.promo.slider {
  position: relative;

  margin-bottom: 100px;
}

.promo.slider-input {
  display: none;
}

.promo.slider-label {
  position: absolute;
  bottom: 155px;
  z-index: 3;

  width: 12px;
  height: 12px;

  background-image: url('../img/icons/slider-button-empty.svg');
  background-size: 12px;
}

.slider-label-1 {
  right: 149px;
}

.slider-label-2 {
  right: 116px;
}

.slider-label-3 {
  right: 83px;
}

.slider-item {
  display: none;

  background-image: linear-gradient(to bottom, #f7e296 105px, #fff 105px, #fff);
}

#promo-slide-1:checked ~ .slider-list .slide-1,
#promo-slide-2:checked ~ .slider-list .slide-2,
#promo-slide-3:checked ~ .slider-list .slide-3 {
  display: flex;
}

#promo-slide-1:checked ~ .slider-label-1,
#promo-slide-2:checked ~ .slider-label-2,
#promo-slide-3:checked ~ .slider-label-3 {
  background-image: url('../img/icons/slider-button.svg');
}

.slider-item-left {
  display: flex;
  width: 50%;
  min-height: 485px;
}

.slider-item-left img {
  position: relative;
  top: -9px;
  left: -9px;

  margin: 0 auto;
}

.slider-item-right {
  position: relative;

  width: 50%;
  padding: 70px 20px 15px;
}

.slider-item-right::before {
  content: "";

  position: absolute;
  top: 30px;
  left: 20px;

  width: 100px;
  height: 7px;

  background-color: #fff;
}

.slider-item-number {
  position: absolute;
  top: -24px;
  right: 50px;

  font-weight: 800;
  font-size: 179px;
  line-height: 1;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #ffffff;
}

.slider-item h3 {
  position: relative;
  z-index: 2;

  margin: 0 0 20px;

  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  font-family: "Gilroy", sans-serif;
  color: #000000;
}

.slider-item p {
  padding: 0 45px 0 0;
  margin: 0 0 45px;
}

.slider-item-controls {
  margin: 0 0 55px;
}

.slider-item-controls .button {
  width: 220px;
}

.promo-table-features {
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;

  background-color: #ffffff;
}

.promo-table-data {
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;

  background-color: #ffffff;
}

.promo-table-data td:not(:last-child) {
  padding: 0 75px 0 0;
}

.main-catalog {
  margin-bottom: 80px;
}

.main-catalog-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-catalog-item {
  flex-shrink: 0;
  width: 160px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
}

.main-catalog-item:not(:nth-child(6n + 1)) {
  margin-left: 40px;
}

.main-catalog-item a {
  position: relative;

  display: block;
  padding: 195px 0 0;

  color: #000000;
}

.main-catalog-item a:active {
  color: rgba(0, 0, 0, 0.3);
}


.main-catalog-item a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 160px;
  height: 160px;
  background-color: #f7e296;
}

.main-catalog-item a:hover::before,
.main-catalog-item a:active::before {
  background-color: #f0c52e;
}

.main-catalog-item a::after {
  content: "";
  position: absolute;

  background-repeat: no-repeat;
}

.main-catalog-item-virtual::after {
  top: 55px;
  left: 30px;

  width: 97px;
  height: 55px;

  background-image: url('../img/icons/catalog-virtual-reality.svg');
}

.main-catalog-item-selfie::after {
  top: 43px;
  left: 38px;

  width: 86px;
  height: 117px;

  background-image: url('../img/icons/catalog-selfie-monopods.svg');
}

.main-catalog-item-action::after {
  top: 40px;
  left: 49px;

  width: 71px;
  height: 87px;

  background-image: url('../img/icons/catalog-action-cameras.svg');
}

.main-catalog-item-fitness::after {
  top: 52px;
  left: 28px;

  width: 107px;
  height: 65px;

  background-image: url('../img/icons/catalog-gears-fit.svg');
}

.main-catalog-item-watches::after {
  top: 34px;
  left: 55px;

  width: 56px;
  height: 98px;

  background-image: url('../img/icons/catalog-smart-watch.svg');
}

.main-catalog-item-quadro::after {
  top: 51px;
  left: 13px;

  width: 132px;
  height: 69px;

  background-image: url('../img/icons/catalog-quadcopters.svg');
}

.main-catalog-item a:active::after {
  opacity: 0.3;
}

.controls-services {
  list-style: none;
}

.section-title {
  margin: 0 0 30px;

  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.services {
  position: relative;

  display: flex;
  padding: 40px 0 115px;
  margin: 0 0 95px;

  background-image: linear-gradient(to bottom, #fff 95px, #e5e5e5 95px, #e5e5e5);
}

.services::before {
  content: "";
  position: absolute;
  top: 0;
  left: 650px;

  width: 7px;
  height: 320px;

  background-color: #000;
}

.controls-services-input {
  display: none;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-list-services {
  position: relative;

  padding: 0 0 0 400px;
}

.slider-item-services {
  display: none;
  padding: 15px 0;
}

#services-delivery:checked ~ .slider-list-services .slide-1,
#services-warranty:checked ~ .slider-list-services .slide-2,
#services-credit:checked ~ .slider-list-services .slide-3 {
  display: block;
}

.slider-list-services .slide-1 {
  background-image: url('../img/icons/delivery.svg');
  background-repeat: no-repeat;
  background-position: 560px 25px;
}

.slider-list-services .slide-2 {
  background-image: url('../img/icons/warranty.svg');
  background-repeat: no-repeat;
  background-position: 560px 0;
}

.slider-list-services .slide-3 {
  background-image: url('../img/icons/credit.svg');
  background-repeat: no-repeat;
  background-position: 560px 0;
}

.slider-item-services p {
  width: 425px;
  margin: 0;
}

.controls-services {
  padding: 15px 0px;
}

.controls-services-item {
  position: absolute;
  left: 373px;
  z-index: 2;

  width: 160px;

  text-align: center;
  font-weight: 800;
  font-size: 18px;
  line-height: 8px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.6px;

  background-color: #f0c52e;
  box-sizing: content-box;

  cursor: pointer;
}

.controls-services-item:hover {
  padding: 16px 0;
  margin: -16px 0;
}

.controls-services-item:active {
  color: #f7e184;

  background-color: #000000;
}

#services-delivery:checked ~ .services-item-delivery,
#services-warranty:checked ~ .services-item-warranty,
#services-credit:checked ~ .services-item-credit {
  padding: 16px 0;
  margin: -16px 0;

  color: #f7e296;

  background-color: #000000;
}

#services-delivery:checked ~ .services-item-delivery::after,
#services-warranty:checked ~ .services-item-warranty::after,
#services-credit:checked ~ .services-item-credit::after {
  content: "";
  position: absolute;
  top: 0;
  right: -124px;

  width: 130px;
  height: 100%;

  background-color: #000;
}

.services-item-delivery {
  top: 93px;
}

.services-item-warranty {
  top: 157px;
}

.services-item-credit {
  top: 222px;
}

.brands {
  margin-bottom: 95px;
}

.brands-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.brands-item:not(:nth-child(4n + 1)) {
  margin-left: 40px;
}

.brands-item a {
  position: relative;

  display: block;

  line-height: 0;
}

.brands-item-dji:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-image: url('../img/brand-dji.jpg');
}

.brands-item-sp:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-image: url('../img/brand-sp-gadgets.jpg');
}

.brands-item-go-pro:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-image: url('../img/brand-go-pro.jpg');
}

.brands-item-vive:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-image: url('../img/brand-vive.jpg');
}

.company-info {
  margin-bottom: 87px;
}

.company-info-wrapper {
  display: flex;
}

.company-info-wrapper .about-us {
  width: 600px;
}

.company-info-wrapper .contacts {
  width: 560px;
}

.about-us,
.contacts {
  position: relative;

  padding-top: 50px;
}

.about-us::before,
.contacts::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: #000000;
}

.about-us .section-title,
.contacts .section-title {
  margin: 0 0 45px;
}

.about-us p,
.contacts p {
  width: 475px;
  margin: 0 0 30px;

  color: #464646;
  letter-spacing: 0;
}

.contacts p {
  margin-bottom: 40px;
}

.info-list {
  padding: 35px 0 0;
  margin: 0 0 55px;

  list-style: none;
}

.info-list-item {
  position: relative;

  padding-left: 35px;

  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.info-list-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 8px;
  height: 8px;

  border: 2px solid #e5e5e5;
  border-radius: 50%;

  transform: translateY(-50%);
}

.contacts-map {
  display: block;
  margin-bottom: 65px;
}

.about-us .button,
.contacts .button {
  width: 260px;
}

/*MODALS*/

.modal {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 10;

  display: none;
  width: 960px;

  background-color: #ffffff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);

  transform: translateX(-50%);
}

.modal-show {
  display: block;
}

.modal-feedback {
  top: 190px;

  padding: 95px 100px 85px;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;

  padding: 0;

  background-color: transparent;
  border: none;

  opacity: 0.5;

  cursor: pointer;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.feedback-item-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 0 35px;
}

.feedback-item {
  width: 360px;
  margin: 0;
}

.feedback-item-large {
  width: 100%;
  margin: 0 0 50px;
}

.feedback-title {
  display: block;
  margin: 0 0 5px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0;
}

.feedback-item input,
.feedback-item textarea {
  width: 100%;

  background-color: rgba(242, 242, 242, 0.5);
  border: 2px solid transparent;
}

.feedback-item input {
  height: 50px;
  padding: 0 20px;
}

.feedback-item textarea {
  padding: 20px;
  margin: 0 0 -10px;
}

.feedback-item input:hover,
.feedback-item textarea:hover {
  background-color: rgba(242, 242, 242, 0.8);
}

.feedback-item input:focus,
.feedback-item textarea:focus {
  background-color: transparent;
  border: 2px solid #f0c52e;
}

.feedback-item input:invalid,
.feedback-item textarea:invalid {
  background-color: rgba(237,181,181, 0.5);
}

.feedback-item input::placeholder,
.feedback-item textarea::placeholder {
  color: #464646;

  opacity: 0.4;
}

.feedback-item input:focus::placeholder,
.feedback-item textarea:focus::placeholder {
  opacity: 1;
}

.modal-feedback .button {
  width: 200px;
  box-sizing: content-box;
}

.modal-map {
  top: 260px;

  line-height: 0;
}

/*CATALOG*/

.page-title {
  padding: 35px 0 0 60px;
  margin: 0 0 20px;

  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  padding: 0 0 0 60px;
  margin: 0 0 45px;

  list-style: none;
}

.breadcrumbs li svg {
  margin: 0 15px;
}

.breadcrumbs span {
  font-size: 14px;
  line-height: 24px;
  color: #000000;

  opacity: 0.3;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 24px;
  color: #000000;

  opacity: 0.3;
}

.breadcrumbs a:hover {
  opacity: 1;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

.sorting {
  background-image: linear-gradient(to right, #dbdbdb 450px, #ebebeb 450px, #ebebeb);
}

.sorting-wrapper {
  display: flex;
}

.sorting-left {
  display: flex;
  align-items: center;
  width: 330px;
  padding: 20px 60px;

  background-color: #dbdbdb;
}

.sorting-right {
  display: flex;
  align-items: center;
  width: 830px;
  padding: 20px 0 20px 70px;
}

.sorting h2 {
  margin: 0;

  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.sorting-category-list {
  display: flex;
  padding: 0 0 0 20px;
  margin: 0 232px 0 0;

  list-style: none;
}

.sorting-category-item {
  margin: 0 0 0 30px;
}

.sorting-button {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0;

  opacity: 0.3;
}

.sorting-button:hover {
  opacity: 0.6;
}

.sorting-button:active {
  opacity: 1;
}

.sorting-button-current,
.sorting-button-current:hover,
.sorting-button-current:active {
  opacity: 1;
}

.sorting-priority-list {
  display: flex;
  justify-content: space-between;
  width: 40px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sorting-priority-list li a {
  opacity: 0.2;
}

.sorting-priority-list li a:hover {
  opacity: 0.4;
}

.sorting-priority-list li a:active {
  opacity: 1;
}

.catalog-and-filters {
  background-image: linear-gradient(to right, #ebebeb 450px, #ffffff 450px, #ffffff);
}

.catalog-and-filters-wrapper {
  display: flex;
}

.filters {
  width: 330px;
  padding: 70px 60px;
  padding-right: 70px;

  background-color: #ebebeb;
}

.filter-item {
  padding: 0;
  margin: 0 0 20px;

  border: none;
}

.filter-item-bluetooth {
  margin: 0 0 35px;
}

.filters h2 {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.6px;

  background-color: #dbdbdb;
}

.filter-item legend {
  position: relative;

  padding: 10px 0 0;
  margin: 0 0 20px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.filter-item legend::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 200px;
  height: 2px;

  background-color: #000000;
}

.filter-item-price-bar {
  position: relative;

  width: 200px;
  height: 2px;
  margin: 15px 0 48px;

  background-image: linear-gradient(to right, #91c92f 110px, #dbdbdb 110px, #dbdbdb);
}

.filter-item span {
  font-size: 14px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.2);
  letter-spacing: 0;
}

.filter-item-price-from {
  position: absolute;
  top: 12px;
  left: -1px;
}

.filter-item-price-from::before {
  content: "";
  position: absolute;
  top: -21px;
  left: -5px;

  width: 20px;
  height: 22px;

  background-image: url('../img/icons/filter-button.svg');
  background-repeat: no-repeat;
}

.filter-item-price-to {
  position: absolute;
  top: 12px;
  left: 90px;
}

.filter-item-price-to::before {
  content: "";
  position: absolute;
  top: -21px;
  left: 17px;

  width: 20px;
  height: 22px;

  background-image: url('../img/icons/filter-button.svg');
  background-repeat: no-repeat;
}

.filter-item-price-from:active::before,
.filter-item-price-to:active::before {
  width: 22px;
  height: 24px;

  transform: scale(1.1);
}

.filter-options {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-option label {
  position: relative;

  display: block;
  padding: 0 0 0 40px;

  font-size: 14px;
  line-height: 40px;
  color: #000000;
}

.filter-options-color {
  margin: 0 0 10px;
}

.filter-option-color input + label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 23px;
  height: 23px;

  background-image: url('../img/icons/checkbox-off.svg');
  background-repeat: no-repeat;

  transform: translateY(-50%);
}

.filter-option-color input:hover + label::before {
  opacity: 0.6;
}

.filter-option-color input:active + label::before {
  width: 27px;

  background-image: url('../img/icons/checkbox-on.svg');
  background-repeat: no-repeat;

  opacity: 1;
}

.filter-option-color input:checked + label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 27px;
  height: 23px;

  background-image: url('../img/icons/checkbox-on.svg');
  background-repeat: no-repeat;

  transform: translateY(-50%);
}

.filter-option-color input:checked:hover + label::before {
  opacity: 0.6;
}

.filter-option-color input:checked:active + label::before {
  background-image: url('../img/icons/checkbox-off.svg');
  background-repeat: no-repeat;

  opacity: 1;
}

.filter-option-color input:checked:disabled + label::before,
.filter-option-color input:disabled + label::before,
.filter-option-color input:checked:disabled + label,
.filter-option-color input:disabled + label {
  opacity: 0.25;

  pointer-events: none;
}

.filter-item-bluetooth input + label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 25px;
  height: 25px;

  background-image: url('../img/icons/radio-off.svg');
  background-repeat: no-repeat;

  transform: translateY(-50%);
}

.filter-option-bluetooth input:hover + label::before {
  opacity: 0.6;
}

.filter-option-bluetooth input:active + label::before {
  width: 27px;

  background-image: url('../img/icons/radio-on.svg');
  background-repeat: no-repeat;

  opacity: 1;
}

.filter-item-bluetooth input:checked + label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 25px;
  height: 25px;

  background-image: url('../img/icons/radio-on.svg');
  background-repeat: no-repeat;

  transform: translateY(-50%);
}

.filter-option-bluetooth input:checked:hover + label::before {
  opacity: 0.6;
}

.filter-option-bluetooth input:checked:active + label::before {
  background-image: url('../img/icons/radio-off.svg');
  background-repeat: no-repeat;

  opacity: 1;
}

.filter-option-bluetooth input:checked:disabled + label::before,
.filter-option-bluetooth input:disabled + label::before,
.filter-option-bluetooth input:checked:disabled + label,
.filter-option-bluetooth input:disabled + label {
  opacity: 0.25;

  pointer-events: none;
}

.filter .button {
  width: 100%;
}

.catalog {
  width: 830px;
  padding: 70px 0 77px 70px;

  background-color: #fff;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-list-item {
  width: 360px;
  margin: 0 0 47px;
}

.catalog-list-item:nth-child(3),
.catalog-list-item:last-child {
  margin: 0 0 37px;
}

.catalog-item-info {
  display: flex;
  justify-content: space-between;
}

.catalog-item-image-wrapper {
  position: relative;

  margin: 0 0 30px;

  line-height: 0;
}

.catalog-list-item h3 {
  width: 280px;
  margin: 0;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.catalog-item-price {
  margin: 0;
}

.catalog-item-price .price {
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
}

.catalog-item-hover {
  position: absolute;
  top: 0;
  left: 0;

  display: none;
  width: 100%;
  height: 100%;
  padding-top: 185px;

  text-align: center;
}

.catalog-item-image-wrapper:hover .catalog-item-hover,
.catalog-item-hover:hover {
  display: block;
}

.catalog-hover-button-box {
  margin: 0 0 30px;
}

.catalog-hover-button-box .button {
  width: 200px;
}

.catalog-item-hover-compare {
  font-size: 13px;
  line-height: 20px;
  color: #000000;

  background-color: transparent;
  border: none;
  opacity: 0.5;
}

.catalog-item-hover-compare:hover {
  opacity: 1;
}

.catalog-item-hover-compare:active {
  opacity: 0.2;
}

.catalog-item-new {
  position: absolute;
  top: 28px;
  right: 26px;

  width: 60px;
  height: 60px;

  text-align: center;
  font-weight: 800;
  font-size: 14px;
  line-height: 60px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.7px;
  text-transform: uppercase;

  border: 1px solid #000000;
  border-radius: 50%;
  opacity: 0.2;
}

.pagination-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: #ebebeb;
}

.pagination-pages {
  display: flex;
  justify-content: center;
  width: 510px;
  height: 70px;
  margin: 0;
  padding: 0;

  list-style: none;
  line-height: 70px;
}

.pagination-page {
  padding: 0 15px;
}

.pagination-page a,
.pagination-item a {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;

  opacity: 0.3;
}

.pagination-item.pagination-item-arrows a {
  letter-spacing: 3px;
}

.pagination-page a:hover,
.pagination-item a:hover {
  opacity: 0.6;
}

.pagination-page a:active,
.pagination-item a:active {
  opacity: 1;
}

.pagination-page-current a,
.pagination-page-current a:hover,
.pagination-page-current a:active {
  opacity: 1;
}

.pagination-item-arrows {
  width: 125px;
}

.pagination-item-arrows a {
  display: block;
  height: 70px;

  line-height: 70px;
  text-align: center;

  opacity: 1;
}

.pagination-item-arrows a:hover {
  background-color: #d9d9d9;

  opacity: 1;
}

.pagination-item-arrows a:active {
  opacity: 0.3;
}

